<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- Windows Authentication (Trusted_Connection) - no Uid/Pwd needed -->
    <!-- Change Server name if needed (localhost, .\SQLEXPRESS, MACHINE\INSTANCE) -->
    <add name="PHARMA"
         connectionString="Driver={SQL Server};Server=localhost;Database=PharmaZ;Trusted_Connection=Yes;"
         providerName="System.Data.Odbc" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>
