<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- ODBC connection - change Server, Uid, Pwd as needed. Works on Windows 7+ -->
    <!-- Examples:
         Driver={SQL Server};Server=localhost;Database=PHARMA;Uid=sa;Pwd=yourpassword;
         Driver={ODBC Driver 17 for SQL Server};Server=.\SQLEXPRESS;Database=PHARMA;Trusted_Connection=Yes;
         Driver={SQL Server Native Client 11.0};Server=...;
    -->
    <add name="PHARMA" 
         connectionString="Driver={SQL Server};Server=localhost;Database=PHARMA;Uid=sa;Pwd=sa;" 
         providerName="System.Data.Odbc" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>